[Unit]
Description=db1000n
After=network.target

[Service]
Type=simple
Restart=on-failure
RestartSec=10
ExecStart=/opt/itarmy/bin/db1000n --enable-self-update --scale 1
WorkingDirectory=/opt/itarmy/bin
SyslogIdentifier=db1000n
SyslogFacility=daemon

[Install]
WantedBy=multi-user.target
