[Unit]
Description=distress
After=network.target

[Service]
Type=simple
Restart=on-failure
RestartSec=10
ExecStart=/opt/itarmy/bin/distress --use-my-ip 0 --use-tor 0 --concurrency 4096
WorkingDirectory=/opt/itarmy/bin
SyslogIdentifier=distress
SyslogFacility=daemon

[Install]
WantedBy=multi-user.target