[Unit]
Description=distress
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=on-failure
RestartSec=10
ExecStart=/home/leernd/Documents/ADSS/bin/distress --direct-udp-mixed-flood --source adss --concurrency 4096 --interface eth0,eth1
WorkingDirectory=/opt/itarmy/bin
SyslogIdentifier=distress
SyslogFacility=daemon
StandardOutput=append:/var/log/adss.log
StandardError=append:/var/log/adss.log

[Install]
WantedBy=multi-user.target