[Unit]
Description=distress
After=network.target

[Service]
Type=simple
Restart=on-failure
RestartSec=10
ExecStart=/opt/itarmy/bin/distress
WorkingDirectory=/opt/itarmy/bin
SyslogIdentifier=distress
SyslogFacility=daemon

[Install]
WantedBy=multi-user.target