[Unit]
Description=mhddos_proxy
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=on-failure
RestartSec=10
ExecStart=/opt/itarmy/bin/mhddos_proxy_linux
WorkingDirectory=/opt/itarmy/bin
SyslogIdentifier=mhddos
SyslogFacility=daemon
StandardOutput=append:/var/log/adss.log
StandardError=append:/var/log/adss.log

[Install]
WantedBy=multi-user.target